.register_form{
    display:flex;
    background-color:blue;
    margin-left: 200px;
    padding-left:0px;
    height:300px;
    width:650px;
    border-style: solid;
    height:
}



* {
    box-sizing:border-box;
}

.wrapper {
    display:flex;
}

.main {
    display:flex;
    height:1000px;
    width:100%;
    background-color: grey;
}