.register_form{
    display:flex;
    background-color:blue;
    margin-left: 200px;
    padding-left:0px;
    height:300px;
    width:650px;
    border-style: solid;
}



* {
    box-sizing:border-box;
}

.wrapper {
    display:flex;
}

.main {
    display:flex;
    height:1000px;
    width:100%;
    background-color: grey;
}

.login_wasteland{
    display:flex;
    height:300px;
    width:650px;
    background-color:green;
}
